@import url('https://fonts.cdnfonts.com/css/jf-rock');


body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #480f77, #1a1b79);
    color: #ffffff;
    text-align: center;
    padding: 40px;
    font-family: 'JFRockSolid', sans-serif;
}

h1 {
    font-size: 42px;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #e2d4d4a8;
}

.game {
    background: #ffffff10;
    padding: 30px;
    border-radius: 15px;
    width: 420px;
    margin: auto;
    backdrop-filter: blur(10px);
    border: 2px solid #00000040;
    box-shadow: 0 0 20px #00000050;

}

input {
    padding: 12px;
    width: 50%;
    margin-bottom: 15px;
    border-radius: 8px;
    border: none;
    outline: none;
    font-size: 18px;
    font-family: 'JFRockSolid', sans-serif;

}

button {
    padding: 12px 14px;
    margin: 10px;
    cursor: pointer;
    font-size: 19px;
    border-radius: 17px;
    border: none;
    transition: 0.3s;
    border: 2px solid #ffffff40;
    box-shadow: 0 0 20px #b4b4b450;
    font-family: 'JFRockSolid', sans-serif;
}

button:hover {
    transform: scale(1.1);
    border: 2px solid #ffffff40;
    box-shadow: 0 0 20px #b4b4b450;
}

.hidden {
    display: none;
}

#result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
}




body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    text-shadow: 0 0 10px #cececea8;
    font-size: 20px;
}
.card {
    width: 450px;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 12px #ffffff;
}
input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
}
button {
    width: 100%;
    padding: 12px;
    background: #007bff;
    border: none;
    color: white;
    font-size: 18px;
    cursor: pointer;
    border-radius: 6px;
}
.hidden { display: none; }
.choice-btn {
    padding: 12px;
    margin: 5px;
}